%div{:class => 'span2'}
  %div{ :class => 'well sidebar-nav' }
    %ul{ :class => 'nav nav-list' }
      %li{ :class => 'nav-header' }
        All Sports
      %li= link_to 'Soccer', '#'
      %li= link_to 'Cricket', '#'
      %li= link_to 'Rugby Union', '#'
      %li= link_to 'Golf', '#'
      %li= link_to 'Snooker', '#'
      %li= link_to 'Basketball', '#'
      %li= link_to 'Boxing', '#'
      %li= link_to 'Rugby League', '#'
      %li= link_to 'Volleyball' ,'#'
      %li= link_to 'Ice Hockey', '#'
      %li= link_to 'Horse Racing', '#'
      %li= link_to 'Formula 1', '#'
      %li= link_to 'Tennis' ,'#'
      %li= link_to 'Alpine Skiing', '#'
      %li= link_to 'Baseball', '#'
      %li= link_to 'American Football', '#'
      %li= link_to 'Athletics', '#'
      %li= link_to 'Table Tennis', '#'
      %li= link_to 'Skii JUmping', '#'
      %li= link_to 'Rally', '#'
      %li= link_to 'Motorbikes' , '#'
      %li= link_to 'Hockey' , '#'
      %li= link_to 'Handball', '#'
      %li= link_to 'Futsal', '#'
      %li= link_to 'Cycling', '#'
      %li= link_to 'Darts', '#'
      %li= link_to 'Combat Sports' ,'#'
      %li= link_to 'Aussie Rules Football', '#'
      %li= link_to 'Cross country Skiing', '#'

%div{:class => 'span5'}
  %div{:id => 'page-wrap'}
    %div{:class => 'slider-wrap'}
      %div{:id => 'main-photo-slider', :class => 'csw'}
        %div{:class => 'panelContainer'}
          %div{:class => 'panel', :title => 'Panel 1'}
            %div{:class => 'wrapper'}
              / REGULAR IMAGE PANEL
              =image_tag 'tempphoto-1.jpg', :alt => 'temp'
              %div{:class => 'photo-meta-data'}
                /Photo Credit: <a href="http://flickr.com/photos/astrolondon/2396265240/">Kaustav Bhattacharya</a><br />
                %span
                  "Free Tibet" Protest at the Olympic Torch Rally
          %div{:class => 'panel', :title => 'Panel 2'}
            %div{:class => 'wrapper'}
              / PANEL CONTENT
          %div{:class => 'panel', :title => 'Panel 3'}
            %div{:class => 'wrapper'}
              / EXAMPLE OF OTHER PANEL POSSIBILITIES
              =image_tag 'scotch-egg.jpg', :alt => 'scotch egg', :class => 'floatLeft'
              %h1 
                How to Cook a Scotch Egg
              %ul
                %li 6 hard-boiled eggs, well chilled (i try to cook them to just past soft boiled stage, then stick them in the coldest part of the fridge to firm up)
                %li 1 pound good quality sausage meat (i used ground turkey meat, seasoned with sage, white pepper, salt and a tiny bit of maple syrup)
                %li 1/2 cup AP flour
                %li 1-2 eggs, beaten
                %li 3/4 cup panko-style bread crumbs
                %li Vegetable oil for frying
          %div{:class => 'panel', :title => 'Panel 4'}
            %div{:class => 'wrapper'}
              / PANEL CONTENT
          %div{:class => 'panel', :title => 'Panel 5'}
            %div{:class => 'wrapper'}
              / PANEL CONTENT
          %div{:class => 'panel', :title => 'Panel 6'}
            %div{:class => 'wrapper'}
      /        PANEL CONTENT

      / TO MAKE THESE THUMBNAILS ACTUALLY WORK, BOTH THE HASH VALUE (#1, ETC.)
      /AND THE CLASS="CROSS-LINK" ARE REQUIRED

      =link_to (image_tag 'tempphoto-1thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#1', :class => 'cross-link active-thumb'
      %div{:id => 'movers-row'}
        %div
          =link_to (image_tag 'tempphoto-2thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#2', :class => 'cross-link'
        %div
          =link_to (image_tag 'tempphoto-3thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#3', :class => 'cross-link'
        %div
          =link_to (image_tag 'tempphoto-4thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#4', :class => 'cross-link'
        %div
          =link_to (image_tag 'tempphoto-5thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#5', :class => 'cross-link'
        %div
          =link_to (image_tag 'tempphoto-6thumb.jpg', :class => 'nav-thumb', :alt => 'temp-thumb'), '#6', :class => 'cross-link'

  %p
    %h6 Today's Odds
    %table{ :class => 'table' }
      %thead
        %tr
          %th Soccer
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td Date
          %td Player1 v Player2
          %td 1
          %td X
          %td 2
        %tr
          %td 29 Jan 22:45
          %td Man Utd v Arsenal fc
          %td 1.20
          %td 6.30
          %td 9.40
    %table{ :class => 'table' }
      %thead
        %tr
          %th Tennis
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td 26 Jan 10:00
          %td R.Federer v A.Murray
          %td 2.85
          %td 3.25
          %td 2.25
        %tr
          %td 24 Jan 09:00
          %td N.Djokovic v D.Ferrer
          %td 1.20
          %td 6.30
          %td 9.40
    %table{ :class => 'table' }
      %thead
        %tr
          %th Basket Ball
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td 1 Jan 03:00
          %td NY Knicks v M.Heat
          %td 7.50
          %td 3.67
          %td 2.50
%div{:class => 'span4'}
  %p
    %h6 Hot Bets
    %table{ :class => 'table' }
      %tbody
        %tr
          %td 11:00 PM 1/30
          %td Real Madrid v Barcelona
          %td 3.10
          %td 3.80
          %td 2.05
      %tr
        %td 6:00 PM 1/30
        %td Tromso v Widzow Lodz
        %td 2.70
        %td 3.20
        %td 2.35
      %tr
        %td 9:00 PM
        %td Vaslui v FC Capenhagen
        %td 2.75
        %td 3.20
        %td 2.30
