=render 'layouts/locations'
%hr
.centered-content
  %nav{:id => 'footer-navi'}
    = link_to 'Rules and Regulations', home_legal_path
    = link_to 'Privacy', home_privacy_path
    = link_to 'About Us', home_about_path
    = link_to 'Contact', inquiries_new_path
    = link_to 'Careers', jobs_index_path
    /= link_to 'Facebook', '#'
    /= link_to 'Twitter', '#'
    /= link_to 'Google+', '#'
    /= link_to 'Linkedin', '#'
