%div{:class => 'row-fluid address-foot'}
  %h6
    Our Betting outlets
  %div{:class => 'span3 foot'}
    %address Kabalagala
    %address Nsambya
  %div{:class => 'span3 foot'}
    %address Kansanga
    %address Makerere
%hr
%div{:class => 'row-fluid'}
  %div{:class => 'span4 foot'}
    %p 
      %h6 Legal
      %li= link_to 'Copyright', '#'
      %li= link_to 'Disclaimer', '#'
      %li= link_to 'Privacy', '#'
      %li= link_to 'Rules and Regulations', home_legal_path
  %div{:class => 'span4 foot'}
    %p
      %h6 Fortune Bet
      %li= link_to 'About Us', '#'
      %li= link_to 'Contact', '#'
      %li= link_to 'Feedback', '#'
  %div{:class => 'span4 foot'}
    %p
      %h6 Social
      %li= link_to 'Facebook', '#'
      %li= link_to 'Twitter', '#'
      %li= link_to 'Google+', '#'
      %li= link_to 'Linkedin', '#'
