%div{:class => 'row-fluid'}
  %div{:class => 'span4 foot'}
    %p 
      %h4 Legal
      %li= link_to 'Copyright', '#'
      %li= link_to 'Disclaimer', '#'
      %li= link_to 'Privacy', '#'
  %div{:class => 'span4 foot'}
    %p
      %h4 Fortune Bet
      %li= link_to 'About Us', '#'
      %li= link_to 'Contact', '#'
      %li= link_to 'Feedback', '#'
  %div{:class => 'span4 foot'}
    %p
      %h4 Social
      %li= link_to 'Facebook', '#'
      %li= link_to 'Twitter', '#'
      %li= link_to 'Google+', '#'
      %li= link_to 'Linkedin', '#'
