= link_to "Fortune Bet", root_path, :class => 'brand'
%ul.nav
  %li= link_to 'Live Betting', '#'
  %li= link_to 'Lotto', '#'
  %li= link_to 'All Sports', '#'
  %li= link_to 'Non Sports Betting', '#'
  %li= link_to 'Results' ,'#'
  %li= link_to 'Enter Ticket Draw', '#'
%ul{ :class => 'nav pull-right' }
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Register now!', new_user_registration_path)
